/* You do not need to change anything in this file.  I just want you to see how
a table can be styled.
 */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.centerText {
    text-align: center;
}